.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    margin: 31px auto 0 0;
    padding: 14px 58px 14px 57px;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    height: 512px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 592px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 472px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 532px;
    }
  
    .u-section-1 .u-image-1 {
      height: 472px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 613px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-bottom: -106px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 493px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-bottom: 28px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      font-size: 2.25rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 493px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-bottom: 28px;
    }
  
    .u-section-1 .u-image-1 {
      height: 435px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 929px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 740px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-1 {
      height: 754px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 970px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-bottom: 0;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.25rem;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 466px;
    }
  
    .u-section-1 .u-image-1 {
      height: 464px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 475px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 435px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 400px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 375px;
    grid-gap: 20px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 10px 20px;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 10px 20px;
  }
  
  .u-section-2 .u-text-4 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 10px 20px;
  }
  
  .u-section-2 .u-text-6 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-7 {
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 10px 20px;
  }
  
  .u-section-2 .u-text-8 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-9 {
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-7 {
    padding: 10px 20px;
  }
  
  .u-section-2 .u-text-10 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-11 {
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-8 {
    padding: 10px 20px;
  }
  
  .u-section-2 .u-text-12 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-13 {
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 399px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 359px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 330px;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 307px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 140px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 598px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 28px;
      padding-right: 28px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9.99997px));
      min-height: 538px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1011px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 0;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-9 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-11 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-13 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 870px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-top: 9px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 89px;
    }
  
    .u-section-2 .u-text-2 {
      font-size: 2.25rem;
      width: auto;
    }
  
    .u-section-2 .u-text-4 {
      font-size: 2.25rem;
      width: auto;
    }
  
    .u-section-2 .u-text-6 {
      font-size: 2.25rem;
      width: auto;
    }
  
    .u-section-2 .u-text-8 {
      font-size: 2.25rem;
      width: auto;
    }
  
    .u-section-2 .u-text-10 {
      font-size: 2.25rem;
      width: auto;
    }
  
    .u-section-2 .u-text-12 {
      font-size: 2.25rem;
      width: auto;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 922px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 222px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 222px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-3 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.25rem;
  }
  
  .u-section-3 .u-layout-cell-3 {
    min-height: 222px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-3 .u-btn-2 {
    background-image: none;
    margin: 0 0 0 auto;
    padding: 13px 49px 13px 48px;
  }
  
  .u-section-3 .u-btn-3 {
    background-image: none;
    margin: 53px 0 0 auto;
    padding: 13px 49px 13px 48px;
  }
  
  .u-section-3 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin-top: 32px;
    margin-bottom: 60px;
  }
  
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 548px;
    grid-gap: 20px;
  }
  
  .u-section-3 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 16px 20px;
  }
  
  .u-section-3 .u-image-1 {
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding: 16px 20px;
  }
  
  .u-section-3 .u-image-2 {
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-6 {
    padding: 16px 20px;
  }
  
  .u-section-3 .u-image-3 {
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-list-item-4 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-7 {
    padding: 16px 20px 17px;
  }
  
  .u-section-3 .u-image-4 {
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-list-item-5 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-8 {
    padding: 16px 20px 17px;
  }
  
  .u-section-3 .u-image-5 {
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-list-item-6 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-9 {
    padding: 0 20px;
  }
  
  .u-section-3 .u-image-6 {
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 862px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 183px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 183px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 183px;
    }
  
    .u-section-3 .u-list-1 {
      margin-bottom: 39px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
      min-height: 452px;
    }
  
    .u-section-3 .u-image-1 {
      height: 72px;
    }
  
    .u-section-3 .u-image-2 {
      height: 72px;
    }
  
    .u-section-3 .u-image-3 {
      height: 72px;
    }
  
    .u-section-3 .u-image-4 {
      height: 72px;
    }
  
    .u-section-3 .u-image-5 {
      height: 72px;
    }
  
    .u-section-3 .u-image-6 {
      height: 72px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 800px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-3 .u-text-3 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
    }
  
    .u-section-3 .u-list-1 {
      margin-bottom: 60px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9.999975px));
      min-height: 796px;
    }
  
    .u-section-3 .u-image-1 {
      height: 84px;
    }
  
    .u-section-3 .u-image-2 {
      height: 84px;
    }
  
    .u-section-3 .u-image-3 {
      height: 84px;
    }
  
    .u-section-3 .u-image-4 {
      height: 84px;
    }
  
    .u-section-3 .u-image-5 {
      height: 84px;
    }
  
    .u-section-3 .u-image-6 {
      height: 84px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 900px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 159px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-3 {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-3 .u-btn-2 {
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-3 .u-btn-3 {
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding: 0 10px;
    }
  
    .u-section-3 .u-image-1 {
      width: 62px;
      margin-top: initial;
      margin-bottom: initial;
      height: auto;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding: 0 10px;
    }
  
    .u-section-3 .u-image-2 {
      width: 62px;
      margin-top: initial;
      margin-bottom: initial;
      height: auto;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding: 0 10px;
    }
  
    .u-section-3 .u-image-3 {
      width: 62px;
      margin-top: initial;
      margin-bottom: initial;
      height: auto;
    }
  
    .u-section-3 .u-container-layout-7 {
      padding: 0 10px;
    }
  
    .u-section-3 .u-image-4 {
      width: 62px;
      margin-top: initial;
      margin-bottom: initial;
      height: auto;
    }
  
    .u-section-3 .u-container-layout-8 {
      padding: 0 10px;
    }
  
    .u-section-3 .u-image-5 {
      width: 62px;
      margin-top: initial;
      margin-bottom: initial;
      height: auto;
    }
  
    .u-section-3 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-image-6 {
      width: 62px;
      margin-top: initial;
      margin-bottom: initial;
      height: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-layout-cell-2 {
      min-height: 225px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 637px;
  }
  
  .u-section-4 .u-list-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 497px;
    grid-gap: 10px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-4 .u-image-1 {
    width: 191px;
    height: 191px;
    margin: 26px auto 0 0;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: -191px auto 0 319px;
  }
  
  .u-section-4 .u-text-2 {
    font-weight: 400;
    font-style: italic;
    margin: 17px auto 0 319px;
  }
  
  .u-section-4 .u-btn-1 {
    background-image: none;
    font-weight: 700;
    margin: -2px 0 0 auto;
    padding: 17px 54px 18px 53px;
  }
  
  .u-section-4 .u-text-3 {
    font-weight: 400;
    margin: -38px 340px 0 319px;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-4 .u-image-2 {
    width: 191px;
    height: 191px;
    margin: 26px auto 0 0;
  }
  
  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: -191px auto 0 319px;
  }
  
  .u-section-4 .u-text-5 {
    font-weight: 400;
    font-style: italic;
    margin: 17px auto 0 319px;
  }
  
  .u-section-4 .u-btn-2 {
    background-image: none;
    font-weight: 700;
    margin: -2px 0 0 auto;
    padding: 17px 54px 18px 53px;
  }
  
  .u-section-4 .u-text-6 {
    font-weight: 400;
    margin: -38px 340px 0 319px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-4 .u-image-1 {
      background-position: 50% 50%;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 263px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 263px;
    }
  
    .u-section-4 .u-text-3 {
      width: auto;
      margin-top: -37px;
      margin-right: 208px;
      margin-left: 261px;
    }
  
    .u-section-4 .u-image-2 {
      background-position: 50% 50%;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 263px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 263px;
    }
  
    .u-section-4 .u-text-6 {
      width: auto;
      margin-top: -37px;
      margin-right: 208px;
      margin-left: 261px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 788px;
    }
  
    .u-section-4 .u-list-1 {
      margin-top: 50px;
      margin-bottom: 44px;
    }
  
    .u-section-4 .u-repeater-1 {
      min-height: 694px;
    }
  
    .u-section-4 .u-text-1 {
      width: auto;
      margin-left: 220px;
    }
  
    .u-section-4 .u-text-2 {
      width: auto;
      margin-top: 18px;
      margin-left: 220px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 153px;
      margin-right: auto;
      margin-left: 220px;
    }
  
    .u-section-4 .u-text-3 {
      margin-top: -189px;
      margin-right: 19px;
      margin-left: 220px;
    }
  
    .u-section-4 .u-text-4 {
      width: auto;
      margin-left: 220px;
    }
  
    .u-section-4 .u-text-5 {
      width: auto;
      margin-top: 18px;
      margin-left: 220px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 153px;
      margin-right: auto;
      margin-left: 220px;
    }
  
    .u-section-4 .u-text-6 {
      margin-top: -189px;
      margin-right: 19px;
      margin-left: 220px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 814px;
    }
  
    .u-section-4 .u-list-1 {
      margin-bottom: 0;
    }
  
    .u-section-4 .u-repeater-1 {
      min-height: 819px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 217px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 217px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 214px;
      margin-right: 133px;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-3 {
      margin-top: -244px;
      margin-right: 27px;
      margin-left: 217px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 217px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 217px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 214px;
      margin-right: 133px;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-6 {
      margin-top: -244px;
      margin-right: 27px;
      margin-left: 217px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1077px;
    }
  
    .u-section-4 .u-list-1 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-repeater-1 {
      min-height: 1057px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-bottom: 0;
    }
  
    .u-section-4 .u-image-1 {
      width: 137px;
      height: 123px;
    }
  
    .u-section-4 .u-text-1 {
      margin-top: 34px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 0;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 204px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-3 {
      margin-top: -240px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-bottom: 0;
    }
  
    .u-section-4 .u-image-2 {
      width: 137px;
      height: 123px;
    }
  
    .u-section-4 .u-text-4 {
      margin-top: 34px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 0;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 204px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-6 {
      margin-top: -240px;
      margin-left: 0;
      margin-right: 0;
    }
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 905px;
  }
  
  .u-section-5 .u-gallery-1 {
    height: 745px;
    margin-top: 80px;
    margin-bottom: -36px;
    grid-gap: 17px;
  }
  
  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 41px;
  }
  
  .u-section-5 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-5 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-5 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-5 .u-over-slide-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-5 .u-over-slide-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-5 .u-over-slide-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 754px;
    }
  
    .u-section-5 .u-gallery-1 {
      height: 614px;
      margin-bottom: -152px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1188px;
    }
  
    .u-section-5 .u-gallery-1 {
      height: 1058px;
      margin-bottom: -278px;
    }
  
    .u-section-5 .u-gallery-inner-1 {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 3254px;
    }
  
    .u-section-5 .u-gallery-1 {
      height: 3174px;
      margin-bottom: 0;
    }
  
    .u-section-5 .u-gallery-inner-1 {
      grid-template-columns: repeat(1, auto);
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 2078px;
    }
  
    .u-section-5 .u-gallery-1 {
      height: 1998px;
    }
  } .u-section-6 {
    background-image: none;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 444px;
  }
  
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: -51px;
  }
  
  .u-section-6 .u-layout-cell-1 {
    min-height: 287px;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-6 .u-text-1 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-6 .u-layout-cell-2 {
    min-height: 287px;
  }
  
  .u-section-6 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-6 .u-text-2 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.25rem;
  }
  
  .u-section-6 .u-layout-cell-3 {
    min-height: 324px;
  }
  
  .u-section-6 .u-container-layout-3 {
    padding: 0;
  }
  
  .u-section-6 .u-list-1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 324px;
    grid-auto-columns: calc(50% - 10px);
    grid-gap: 20px;
  }
  
  .u-section-6 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-4 {
    padding: 10px;
  }
  
  .u-section-6 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 24px auto 0;
  }
  
  .u-section-6 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-5 {
    padding: 10px;
  }
  
  .u-section-6 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: 24px auto 0;
  }
  
  .u-section-6 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-6 {
    padding: 10px;
  }
  
  .u-section-6 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: 24px auto 0;
  }
  
  .u-section-6 .u-list-item-4 {
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-7 {
    padding: 10px;
  }
  
  .u-section-6 .u-icon-4 {
    width: 64px;
    height: 64px;
    margin: 24px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 387px;
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 237px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 237px;
    }
  
    .u-section-6 .u-layout-cell-3 {
      min-height: 267px;
    }
  
    .u-section-6 .u-repeater-1 {
      min-height: 268px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
      min-height: 436px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-6 .u-text-2 {
      font-size: 1.875rem;
    }
  
    .u-section-6 .u-layout-cell-3 {
      min-height: 205px;
    }
  
    .u-section-6 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 792px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-text-2 {
      width: auto;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-6 .u-layout-cell-3 {
      min-height: 461px;
    }
  
    .u-section-6 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 621px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 166px;
    }
  
    .u-section-6 .u-layout-cell-3 {
      min-height: 290px;
    }
  } .u-section-7 {
    background-image: none;
  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 706px;
  }
  
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: -5px;
  }
  
  .u-section-7 .u-layout-cell-1 {
    min-height: 243px;
  }
  
  .u-section-7 .u-container-layout-1 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-7 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.25rem;
    font-weight: 400;
  }
  
  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin: 19px auto 0 0;
  }
  
  .u-section-7 .u-layout-cell-2 {
    min-height: 243px;
  }
  
  .u-section-7 .u-container-layout-2 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-7 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    background-image: none;
    margin: 0 0 0 auto;
    padding: 19px 50px 20px;
  }
  
  .u-section-7 .u-layout-cell-3 {
    min-height: 343px;
  }
  
  .u-section-7 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .u-section-7 .u-text-4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 0 0;
  }
  
  .u-section-7 .u-layout-cell-4 {
    min-height: 343px;
  }
  
  .u-section-7 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-5 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.25rem;
    font-weight: 400;
  }
  
  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
    margin: 19px auto 0 0;
  }
  
  .u-section-7 .u-form-1 {
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .u-section-7 .u-btn-2 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 668px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 200px;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 200px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 283px;
    }
  
    .u-section-7 .u-text-3 {
      font-size: 1.25rem;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 283px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 385px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-7 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 369px;
    }
  
    .u-section-7 .u-text-5 {
      font-size: 1.875rem;
      width: auto;
      margin-right: auto;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 585px;
    }
  
    .u-section-7 .u-container-layout-1 {
      padding-left: 10px;
    }
  
    .u-section-7 .u-container-layout-2 {
      padding-left: 10px;
    }
  
    .u-section-7 .u-btn-1 {
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-7 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-7 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-text-4 {
      font-size: 1.25rem;
    }
  
    .u-section-7 .u-text-5 {
      font-size: 1.5rem;
    }
  }

  .brand-logo{
    height: 200px;
    width: auto;
    position: absolute;
    z-index: 99999;
    top: -100px;
    /* margin: 0 auto; */
  }

  @media (max-width: 575px) {
    .brand-logo{
      left: -25px;
    }
  }